.getStart{
    background-color: #F25f3A;
    color: white;
    position: relative;
    height: 230px;
    overflow: hidden;
    justify-content: center;
 
}
.getStart h2{
    font-size: 34px;
    line-height: 2.5rem;
}


.getStart-button{
    background: white;
    color: #F25f3A;
    padding: .7rem 1.7rem;
    border-radius: 1.3rem;
    border: none;
    cursor:pointer;
    font-size: 16px;
    z-index: 2;

}
.getStart-button:hover{
    background-color: black;
}

.content_bg {
    background-image: url('../../../../public/assets/bg-simplify-section-desktop.svg');
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
}





@media (max-width: 770px) {
    /* On screens smaller than 750px, switch to a vertical layout */
.getStart, .content_bg{
    height: 384px;
}
.getStart-content{
    width: fit-content;
    margin: auto;
}
.getStart h2{
    font-size: 3rem;
    line-height: 1.25;
    text-align: center;
}

.getStart-button{
    margin: auto;
    margin-top: 3rem;
}

  }