/* footer */
.footer{
    background-color: #1d1e25;
    list-style: none;
    color: white;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.6rem 1.4rem;
    
  }
  input{
    border-radius: 1.5rem;
    border: none;
    outline: none;
    color: gray;
    text-align: center;
    font-size: 1rem;
    padding: 0 1.3rem;
    
  }
.flex-col {
    display: flex;
    flex-direction: column;
    
}

.footer-links{
    width: 293px;
    display: flex;
    justify-content: space-between;
}
.footer-link-items{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer li:hover{
    color: red;
}
.footer-button{
    background-color: #F25f3A;
    color: whitesmoke;
    padding: .75rem 1.7rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    margin-left: 1rem;
    cursor: pointer;
}
.footer-button:hover{
    background-color: #FF6633;
    transition-duration: 500ms;
}
.mobile{
    display: none;
  }
  .desktop{
    display: block;
  }

@media (max-width: 760px) {
    /* On screens smaller than 760px, switch to a vertical layout */
  .footer {
    flex-direction: column;
    gap: 2rem;
    flex-flow: column-reverse;
  }
  input{
    width: 70%;
  }
  .footer-links{
    justify-content: space-between;
    width: 100%;
  }
  .footer-logo{
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    gap: 2rem;
  }
  .footer-social-links{
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  .flex-col{
    width: 100%;
  }
  .footer-link-items{
    padding: 0 1.3rem;
  }
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  }