*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  ul{
    list-style: none;
  }
  main{
    position: relative;
  }
  .container{
      padding: 0 1.5rem;
      position: relative;
  }
.flex{
    display: flex;
    align-items: flex-start;  
    gap: 1rem;
}
.space-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;  

}
.header-img{
    position: absolute;
    right: 3rem;
    top: -22rem;
}
  .primary{
    padding: .9rem 1.8rem;
    border-radius: 1.3rem;
   cursor: pointer;
   text-align: center;
   border: none;
  }
 .primary:hover{
    background-color: #FF6633;
    transition-duration: 500ms;
 }
  .feature{
    padding: 0 24px;
    margin-top: 40px;
  }
  .f-34{
    font-size: 34px;
    
  }
 .f-46{
    font-size: 46px;
 }
 .f-18{
    font-size: 18px;
 }
.line-15{
    line-height: 1.5rem;
}




.gap {
    gap: 3rem;
}
.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2.3rem;
}

.space-x-6{
    margin-left: 24px;
}

.mt-26{
    margin-top: 26px;
}
.gray{
    color: #9095a7;
}
.circle{
    border-radius: 50%;
    background-color: #F25f3A;
    padding:  0.5rem;
    text-align: center;
    color: white;
}
.flex-start{
    align-items: flex-start;
}
.my-2{
    margin-top: 2rem;
 
}


.button-orange{
    background: #F25f3A;
    color: white;
    cursor: pointer;
    max-width: 140px;
}
.button-white{
    background: white;
    color: #F25f3A;
    cursor: pointer;
}

.w-80{
    width: 85%;
    margin: auto;
}


.mt-15{
    margin-top: 1.5rem;
}
.mt-4{
    margin-top: 4rem;
}

.w-30{
    width: 30%;
}
.w-50{
    width: 50%;
}
.center{
    text-align: center;
}

.my-1{
    margin: 1rem 0;
}


.w-full{
    width: 100%;
}

.w-28{
    width: 28rem;
}
.w-24{
width: 402px;
}
.mt-48{
    margin-top: 48px;
}
.mt-40{
    margin-top: 40px;
}
.p-20{
    padding: 0 20px;
}

.line-1{
    line-height: 1;
}

.line-175{
    line-height: 1.7rem;
}
.line-25{
line-height: 2.5rem;
}
.pt-8{
    padding-top: 12px;
}
.my-4{
    margin: 4rem 0;
}
.content-center{
    justify-content: center;
}

/* responsive design */



@media (max-width: 760px) {
    /* On screens smaller than 750px, switch to a vertical layout */
    .flex {
      flex-direction: column;
      width: 100%;
      margin: auto;
      gap: 0;
    }

    
    .w-30, .w-50, .w-70, .w-28, .w-24{
        width: 100%;
       }
    
  
    .container{
        padding: 0 1.2rem;
    }
    .line-1, .line-25, .line-15, .line-175{
        line-height: normal;
    }
    .mobile-show{
        display: block;
    }
  .circle{
    margin-left: -8px;
  }

  }
.mt-0{
    margin-top: 0;
}




@media (max-width: 860px) {
  
    
     .w-80{
        width: 100%;
       }
    

}
